// Place all the styles related to the Api::Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boardForm {
    color: #333;
   
}



.boardForm .containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.boardForm .formContainer {
    padding: 0;
    width: 540px;
}

.boardForm form {
    width: 100%;
    height: 100%;
    margin: 0;
}

.boardForm .headingsContainer {
    width: 100%;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0;
}

.boardForm h1 {
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    font-weight: bold;
}

.boardForm label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #efefef;
    margin: 0;
    padding: 20px 10px;
}

.boardForm label span{
    font-size: 14px;
}

.boardForm input {
    width: 350px;
}

.boardForm .buttonsContainer {
    display: flex;
    justify-content: flex-end;
}

.boardForm button {
    width: 75px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
    color: #FFF;
    border: none;
}