// Place all the styles related to the Api::Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Pins */

.grid {
	column-width: 260px;
	column-gap: 5px;
  width: 90%;
	margin: 50px auto;
}

.pinWrapper {
	margin: 0 2px 5px;
  padding: 5px;
  padding-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  position:relative;
}

.pinWrapper:hover, .pinText {
  opacity: 1;
  border-radius: 10px;
  
}



.pinImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}



.pinWrapper:hover .pinText {
  content: '';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #aaa;
  opacity: 0.4;
  border-radius: 10px;
    transition: .5s ease;
}

.pinTitle {
  margin-top: 5px;
   margin-left: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}



@media screen and (max-width: 750px) { 
  .grid { column-gap: 0px; }
  .pinWrapper{ width: 100%; }
}

/* Add pin button */
.addPinBtn {
  background: none;
  font-size: 28px;
  border: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

.addPinBtn span {
  margin-bottom: 4px;
  color: #454545;
}

.addPinBtnContainer {
   display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 15px;
  right: 25px;

  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(204,204,204,.8);
  -moz-box-shadow: 0px 1px 0px 1px rgba(204,204,204,.8);
  box-shadow: 0px 1px 0px 1px rgba(204,204,204,.8);
}

.addPinBtnContainer:hover{
  background-color: #eee;
}

/* Create Pin Form */

.pinFormContainer {
  background: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pinFormContainer .containerContainer {
  background: #EFEFEF;
  height: 600px;
  padding: 17px;
  display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pinFormContainer .formContainer  {
  width: 880px;
  height: 600px;
  padding: 0;
  border-radius: 10px;
}

.pinFormContainer .buttonsContainer {
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 20px;
}

.pinFormContainer .buttonsContainer button {
  width: 80px;
  height: 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 8px;
}

#createPinForm {
  justify-content: space-between;
  width: 880px;
  height: 100%;
  align-content: flex-start;
  margin-top: 0;
  
}

#rightCreateForm input, 
#rightCreateForm textarea {
  color: #8E8E8E;
  width: 395px;
}

#rightCreateForm input::placeholder,
#rightCreateForm textarea::placeholder{
   color: #8E8E8E;
}


#createPinForm textarea {
  border: none;
  font-size: 18px;
  font-weight: lighter;
  height: 200px;
}

#rightCreateForm {
  display: flex;
  flex-wrap: wrap;
   width: 430px;
  height: 100%;
  justify-content: flex-start;
  align-content: space-between;
  margin-top: 0;
  margin-right: 30px;
}

#rightTopCreateForm {
  width: 100%;
  margin: 0;

}

#createTitle {
  border: none;
  font-size: 36px;
  font-weight: bold;
}

#leftCreateForm {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
}

#leftCreateForm .fileContainer {
  background: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
}

#leftCreateForm input {
  height: 400px;
  width: 300px;
  background: #EFEFEF;
  border: 3px dashed #DADADA;
  margin: 0;
}

#leftCreateForm .previewImg {
  max-width: 340px;
  height: auto;
  align-self: flex-start;
  margin-top: 70px;
  border-radius: 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileTextContainer .fileText {
  color: #454545;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
  height: 430px;
  width: 315px;
  font-size: 16px;
  margin: 0;

   border: 2px dashed #dcdcdc;
  display: flex;
    background: #EFEFEF;

  align-items: center;
  text-align: center;
  justify-content: center;
  color: #8E8E8E;
  font-weight: lighter;
}

.inputfile + label p {
  width: 200px;
}

#rightCreateForm #chooseBoard::placeholder {
  color: #333;
}

.pinShowPhoto {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pinShowPhoto img{
  width: 80vw;
  height: auto;
  max-height: 80vh;
}

.grid a {
  color: #333;
}