// Place all the styles related to the Api::Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Pins */

.grid {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

.grid figure:hover {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  border-radius: 5px;
}

.grid figure {
  
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  border-radius: 5px;
}

.grid figure img {
	width: 100%; height: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

.grid:hover figure:not(:hover) {
	opacity: 0.8;
}

@media screen and (max-width: 750px) { 
  .grid { column-gap: 0px; }
  .grid figure { width: 100%; }
}

.addPinBtn {
  background: none;
  font-size: 28px;
  border: none;
}

.addPinBtnContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #333;
  border-radius: 50%;
-webkit-box-shadow: 0px 1px 3px 1px rgba(204,204,204,1);
-moz-box-shadow: 0px 1px 3px 1px rgba(204,204,204,1);
box-shadow: 0px 1px 3px 1px rgba(204,204,204,1);
}

.addPinBtnContainer:hover{
  background-color: #eee;
}

.pinFormContainer .containerContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    background-color: #fff;
}