// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Login/ Signup Forms */
.switchBtn {
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    color: #333;
    position: absolute;
    top: 50px;
    left: 30px;
    font-weight: bold;
}

.switchBtn:hover {
    background-color: #f1f1f1;
}

#sessionForm .containerContainer {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    image-url('background-image.png')
}

#sessionForm .formContainer {
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.62);
}

#sessionForm .containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#demo {
    background-color: #4285F4;
}

#demo:hover {
    background-color: #4267B2;
}

