/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Greeting Container */
 header {
     padding: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #ededed;
 }

 header *:hover {
     cursor: pointer;
 }

 button:hover {
     cursor: pointer;
 }

.logo {
    color: #E60023;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#leftnav:hover .logo, #rightnav h1:hover {
  background-color: #f1f1f1;
}

#rightnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightnav h1 {
    padding: 12px;
    border-radius: 20px;
}

#rightnav > * {
    margin-right: 10px;
}

/* Dropdown Menu */
.dropbtn {
  color: #999;
  padding: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  border-radius: 5px;
  left: -135px;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

/* Login/ Signup Forms */
.switchBtn {
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    color: #333;
    position: absolute;
    top: 50px;
    left: 30px;
    font-weight: bold;
}

.switchBtn:hover {
    background-color: #f1f1f1;
}



#sessionForm .containerContainer {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    image-url('background-image.png')
}

#sessionForm .formContainer {
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.62);
}

.containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.headingsContainer {
    width: 300px;
    text-align: center;
}

.headingsContainer .logo {
    margin: 0;
}

.headingsContainer h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.headingsContainer h2 {
    font-size: 16px;
    font-weight: normal;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background:#fff;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 0;
}

.formContainer * {
    margin: 10px;
}

.formContainer form input {
    width:253px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 16px;
    padding: 3px 10px;
    font-weight: lighter;
    margin: 5px 0;
} 

.formContainer form {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}



.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonsContainer a {
    margin: 0;
}

.buttonsContainer button{
    width: 275px;
    background-color: #E60023;
    padding: 10px 20px;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px 0;
}
.buttonsContainer button:hover {
    background-color: #AD081B;
}

/* Edit Profile Form */

#editProfileContainer .containerContainer {
    align-items: flex-start;
    padding-top: 50px;
    background-color: #fff;
}

#editProfileContainer .formContainer {
    width: 670px;
    background-color: #fff;
    align-items: flex-start;
}

#editProfileContainer .headingsContainer {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 650px;
}

#editProfileContainer label {
    font-weight: lighter;
}

#headings, #headings > * {
    text-align: left;
    width: 300px;
    margin-left: 0;
}

#editProfileContainer .buttonsContainer {
    width: 100px;
    
}

#editProfileContainer #editUsername input{
    margin-left: 5px;
    width: 150px;
}

#editForm {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

#editProfileContainer input {
    width: 290px;
}

#editProfileContainer button {
    width: 70px;
    height: 35px;
    font-size: 16px;
    padding: 0;
    background: #ededed;
    color: #777;
    font-weight: 500;
}

#editProfileContainer button:hover {
    background: #AD081B;
    color: #fff;
}
/* Pins */
#pins {
    margin: 20px;
}