/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo {
    color: red;

}

 header {
     padding: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #ccc;
 }

 #pins {
     margin: 20px;
 }

.logo {
color: red;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

/* Style The Dropdown Button */
.dropbtn {
  color: #999;
  padding: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  border-radius: 5px;
  left: -135px;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}


.dropdown-content a:hover {background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn, #leftnav:hover .logo {
  background-color: #f1f1f1;
  
}

#rightnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightnav > * {
    margin-right: 10px;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 400px;
    background:#ccc;
    flex-direction: column;
    border-radius: 5px;
}

#formContainer * {
    margin: 10px;
}

#formContainer h1 {
    font-size: 30px;
}

#formContainer form input {
    width:270px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #666;
} 

#formContainer form {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#buttons button{
    width: 275px;
    background-color: red;
    padding: 10px 20px;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 5px;
    font-size: 14px;
}
#buttons button:hover {
    background-color: darkred;
}


#containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}