.profileContent .gridContainer .grid {
	column-width: 95px;
    width: 320px;
    height: auto;
    margin: 0;
}

.profileContent {
    display: flex;
    justify-content: center;
}

#userPinGrid {
   
	column-width: 260px;
    width: 90%;
    height: auto;
    margin: 0;

}

.gridContainer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.boardImg .pinWrapper {
    margin: 0;
  padding: 0;
  padding-bottom: 0;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  position:relative;
  width: 95px;
}

.boardImg img {
  
    border-radius: 0;
     display: block;
  width: 95px;
  height: auto;
  margin: 0 auto;
}

.boardImg{
    overflow: hidden;
    height: 200px;
     
}

.pinWrapperContainer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}