header {
     padding: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #ededed;
 }

 header *:hover {
     cursor: pointer;
 }

button:hover {
     cursor: pointer;
 }

.logo {
    color: #E60023;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#leftnav:hover .logo, #nameContainer:hover, #rightnav h1:hover {
  background-color: #f1f1f1;

}

#rightnav > *:hover {
    border-radius: 20px;
}

#rightnav .active {
    color: black;
}

#rightnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightnav h1 {
    padding: 12px;
    border-radius: 20px;
}

#rightnav > * {
    margin-right: 10px;
}

#rightnav .profilePic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Dropdown Menu */
.dropbtn {
  color: #8E8E8E;
  padding: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  border-radius: 5px;
  left: -135px;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

#rightNav #nameContainer {
    width: 120px;
}

#rightnav a {
    text-decoration: none;
}

#rightnav h1 {
    color: #8E8E8E;
}